<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    link(rel="stylesheet", href="https://use.fontawesome.com/releases/v5.3.1/css/all.css", integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU", crossorigin="anonymous")
    link(href="https://fonts.googleapis.com/css?family=Open+Sans", rel="stylesheet")
    link(rel="stylesheet", href="style.css")
    title Todo App
  body
    ul
      li.heading
        h1 My Todo's
      each val in todo
        li.lis= val.todo
          span
            form(action="/" + val._id + '?_method=DELETE', method="POST")
              button
                i.fas.fa-check.fa-lg
    
      form.add(action="/", method="POST")
        input(type="text", name="todo", placeholder="Enter Todo", required)
        button
          i.fas.fa-plus.fa-lg