* {
    box-sizing: border-box;
  }
  
  body {
    margin: 0;
    padding: 0;
    font-family: Open-Sans, sans-serif;
    font-size: 17px;
  }
  
  ul {
    display: block;
    margin: 80px auto;
    padding: 0;
    width: 350px;
    list-style: none;
    border: 2px solid #483d8e;
    border-radius: 7px;
    overflow: hidden;
  }
  
  .heading {
    display: block;
    text-align: center;
    background-color: #483d8e;
  }
  
  .heading h1 {
    margin-top: 0;
    padding: 20px;
    color: #fff;
    letter-spacing: 2px;
  }
  
  .lis,
  .add {
    display: block;
    margin: 15px;
    border: 1px solid #8c79b6;
    border-radius: 4px;
    line-height: 34px;
    padding-left: 15px;
    overflow: hidden;
    color: #8564cc;
  }
  
  .lis form {
    display: inline;
  }
  
  .lis form button {
    float: right;
    background-color: #8c79b6;
    outline: none;
    border: none;
    padding: 10px;
    cursor: pointer;
    color: #fff;
  }
  
  button:hover {
    opacity: .9;
  }
  
  .add {
    padding-left: 10px;
    margin-top: 50px;
    line-height: 35px;
    border: 1.5px solid #428eec;
  }
  
  .add input {
    display: inline-block;
    border: none;
    outline: none;
    font-size: 17px;
    color: #428eec;
    width: 85%;
  }
  
  .add button {
    float: right;
    padding: 10px;
    background-color: #428eec;
    outline: none;
    border: none;
    color: #fff;
    cursor: pointer;
  }
  
  @media screen and (max-width: 350px){
    ul {
      width: 100%;
      margin: 20px auto;
      border-radius: 3px;
    }
  
    .lis,
    .add {
      margin: 10px 5px;
      padding-left: 5px;
    }
  
    .add {
      margin-top: 50px;
    }
  
    .add input {
      width: 70%;
    }
  }