<button (click)="togglePosition()">TogglePosition</button>
{{position}}
<button id="btn1" mat-button [matMenuTriggerFor]="menu">Menu1234</button>

<mat-menu [yPosition]="position" #menu="matMenu">
  <button mat-menu-item>Item 1</button>
  <button mat-menu-item>Item 2</button>
</mat-menu>
